* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  max-width: 1366px;
  margin: auto;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.div1 {
  width: 400px;
  height: 100px;
  background-color: rgba(189, 129, 129, 0.68);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input{
  direction: rtl;
}

.div2 {
  width: 400px;
  height: 100px;
  background-color: green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vl {
  border-left: 1px solid yellow;
  height: 100px;
}
